@import "tailwindcss";

:root {
  --banner-gradient:
    to right, oklch(92.036% 0.06821 323.728 / 0.7),
    oklch(81.656% 0.14029 218.076 / 0.7), oklch(97.094% 0.14713 108.043 / 0.7),
    oklch(79.211% 0.12018 354.996 / 0.7), oklch(92.036% 0.06821 323.728 / 0.7);
}

@theme inline {
  --font-sans: var(--font-dm-sans);
}

body {
  font-family: "DM Sans", sans-serif;
}
