@import "tailwindcss";

:root {
  --banner-gradient:
    to right, rgba(252, 214, 255, 0.7), rgba(41, 216, 255, 0.7),
    rgba(255, 253, 128, 0.7), rgba(248, 154, 191, 0.7), rgba(252, 214, 255, 0.7);
  --logo-glow-gradient: to right, #f87bff, #fb92cf, #ffdd9b, #c2f0b1, #2fd8fe;
}

@theme inline {
  --font-sans: var(--font-dm-sans);
}

body {
  font-family: "DM Sans", sans-serif;
}
